.fullscreen-bg {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    z-index: -100;
    -webkit-filter: blur(4px);
    -moz-filter: blur(4px);
    -o-filter: blur(4px);
    -ms-filter: blur(4px);
    filter: blur(4px);
}

.fullscreen-bg__video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

@media (min-aspect-ratio: 16/9) {
    .fullscreen-bg__video {
        height: 300%;
        top: -100%;
    }
}

@media (max-aspect-ratio: 16/9) {
    .fullscreen-bg__video {
        width: 300%;
        left: -100%;
    }
}

@media (max-width: 767px) {
    .fullscreen-bg {
        background: url('VideoFrame.JPG') center center / cover no-repeat;
    }

    .fullscreen-bg__video {
        display: none;
    }
}
#askwilly{
    font-family: Agenda-Light, Agenda Light, Agenda, Arial Narrow, sans-serif;
    font-weight: 100;
    background: rgba(0,0,0,0.3);
    color: white;
    height: 34rem;
    padding: 2rem;
    width: 32rem;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 1.2rem;
}
#askwilly td{
    font-family: Agenda-Light, Agenda Light, Agenda, Arial Narrow, sans-serif;
    font-weight: 100;
    color: white;
    padding: .4rem;
    font-size: 1.2rem;
}
textarea {
    width: 300px;
    height: 50px;
    background: rgba(255,255,255,0.23);
    border: 1px solid #000080;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    padding: 15px 15px 15px 15px;
    color: #ffffff;

}
#askwilly button{
    display: block;
    width: 80%;
    padding: .4rem;
    border: none;
    margin: 1rem auto;
    font-size: 1.3rem;
    background: rgba(255,255,255,0.23);
    color: #fff;
    border-radius: 3px;
    cursor: pointer;
    transition: .3s background;
}
#askwilly button:hover{
    background: rgba(0,0,0,0.5);
}
#askwilly a:visited{
    color: cornflowerblue;
}
#askwilly1{
    font-family: Agenda-Light, Agenda Light, Agenda, Arial Narrow, sans-serif;
    color: white;
    float: right;
    width: 30%;
    margin: .5rem;
    font-size: 1.2rem;
}

#askwilly1 button{
    display: block;
    width: 20%;
    padding: .3rem;
    border: none;
    margin: .1rem .1rem;
    font-size: 1.0rem;
    background: rgba(255,255,255,0.23);
    color: #fff;
    border-radius: 3px;
    cursor: pointer;
    transition: .3s background;
    float: right;
}
text {
    width: 300px;
    background: rgba(255,255,255,0.23);
    border: 1px solid #000080;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    padding: 15px 15px 15px 15px;
    color: #ffffff;

}


.button {
    font-size: 1em;
    padding: 10px;
    color: #fff;
    border: 2px solid #06D85F;
    border-radius: 20px/50px;
    text-decoration: none;
    cursor: pointer;
    transition: all 0.3s ease-out;
}
.button:hover {
    background: #06D85F;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 500ms;
    visibility: hidden;
    opacity: 0;
}
.overlay:target {
    visibility: visible;
    opacity: 1;
}

.popup {
    margin: 70px auto;
    padding: 20px;
    background: #fff;
    border-radius: 5px;
    width: 30%;
    position: relative;
    transition: all 5s ease-in-out;
}

.popup h2 {
    margin-top: 0;
    color: #333;
    font-family: Tahoma, Arial, sans-serif;
}
.popup .close {
    position: absolute;
    top: 20px;
    right: 30px;
    transition: all 200ms;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: #333;
}
.popup .close:hover {
    color: #06D85F;
}
.popup .content {
    max-height: 30%;
    overflow: auto;
}

@media screen and (max-width: 700px){
    .box{
        width: 70%;
    }
    .popup{
        width: 70%;
    }
}

#askwillyProfile{
    font-family: Agenda-Light, Agenda Light, Agenda, Arial Narrow, sans-serif;
    font-weight: 100;
    background: rgba(0,0,0,0.3);
    color: white;
    padding: 1rem;
    width: 70%;
    height: 597px;
    margin: 1.5rem;
    font-size: 1.2rem;
}
#askwillyProfile td{
    font-family: Agenda-Light, Agenda Light, Agenda, Arial Narrow, sans-serif;
    font-weight: 100;
    color: white;
    padding: .4rem;
    font-size: 1.2rem;
}
textarea {
    width: 300px;
    height: 50px;
    background: rgba(255,255,255,0.23);
    border: 1px solid #000080;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    padding: 15px 15px 15px 15px;
    color: #ffffff;

}
#askwillyProfile button{
    display: block;
    width: 80%;
    padding: .4rem;
    border: none;
    margin: 1rem auto;
    font-size: 1.3rem;
    background: rgba(255,255,255,0.23);
    color: #fff;
    border-radius: 3px;
    cursor: pointer;
    transition: .3s background;
}
#askwillyProfile button:hover{
    background: rgba(0,0,0,0.5);
}
#askwillyProfile a:visited{
    color: cornflowerblue;
}

a.edit{
    color: cornflowerblue;
}
a.edit:visited{
    color: cornflowerblue;
}
span{
    text-align: center;
    font-size: .7rem;
    color: #B7B7B7;
    margin-left: .4rem;
}

#menu {
    font-family: Agenda-Light, Agenda Light, Agenda, Arial Narrow, sans-serif;
    font-weight: 100;
    background: rgba(0,0,0,0.3);
    position: fixed;
    right: 0;
    top: 35%;
    left: 0;
    width: 7em;
    float: left;
}
#menu li{
    margin-bottom: 2px;
    padding-bottom: 2px;

}
#menu a{
    display: block;
    text-decoration: none;
    text-align: center;
    width:80px ;
    padding: .4rem;
    border: none;
    margin: 1rem auto;
    background: rgba(255,255,255,0.23);
    color: #fff;
    border-radius: 3px;
    cursor: pointer;
    transition: .1s background;

}
#menu a:visited{
    color: White;
}

#menu a:hover{
    background: rgba(0,0,0,0.5);
}